{% comment %}
  The code below dynamically generates a sidebar nav of pages whose
  `sidebar_category` is included in the comma-separated list of
  categories in the current page's `sidebar_link_categories`.
{% endcomment %}
{% assign _pages_list = site.pages | sort: "sidebar_sort_order" %}
{% assign _posts_list = site.posts | sort: "date" | reverse %}
{% assign _page_categories = page.sidebar_link_categories | split: " " %}
{% for _category in _page_categories %}
  {% if _category == 'news' %}
    {% assign _category_pages = _posts_list %}
  {% else %}
    {% assign _category_pages = _pages_list | where: "sidebar_category", _category %}
  {% endif %}
  {% for _category_page in _category_pages %}
    {% if forloop.first %}
      <span class="sidebar-category{% if page.sidebar_category == _category %} active{% endif %}">{{ _category }}</span>
    {% endif %}
    <a class="page-link {% if page.url == _category_page.url %} active{% endif %}" href="{{ _category_page.url | relative_url }}">{{ _category_page.title }}</a>
  {% endfor %}
{% endfor %}
