.status { background: #808080; color: #ff0000; }
.status.testing { background: #ffcc99; color: #000000; }
.status.development { background: #ff9900; color: #000000; }
.status.idea { background: #996600; color: #000000; }
.status.shelved { background: #ff0000; color: #ffff00; }
