// font family
$root-font-family: "Syne", sans-serif;
// code font family
$code-font-family: "Lucida Console", "Monaco", monospace;
// sidebar background
$sidebar-bg-color: #484444;
// fix overall size
$root-font-size: 0.15in;
